services:
  db:
    image: mysql:8.0
    container_name: triptyche-db
    environment:
      MYSQL_DATABASE: feeling_memory
      MYSQL_ROOT_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      TZ: Asia/Seoul
    volumes:
      - ./database/config:/etc/mysql/conf.d
    ports:
      - "3306:3306"

  redis:
    image: redis:7-alpine
    container_name: triptyche-redis
    ports:
      - "6379:6379"
