# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=trip_tyche
DB_USER=
DB_PASSWORD=

# OCI Object Storage (S3 호환)
OCI_ACCESS_KEY=
OCI_SECRET_KEY=
OCI_S3_ENDPOINT=
OCI_BUCKET_NAME=
